In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import tensorflow as tf

C:\Users\varun\anaconda3\envs\condaenv\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\varun\anaconda3\envs\condaenv\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\varun\anaconda3\envs\condaenv\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\varun\anaconda3\envs\condaenv\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\varun\anaconda3\envs\condaenv\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\varun\anaconda3\envs\condaenv\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [3]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping

In [4]:
df = pd.read_csv("G:/Education/Machine Learning/ML_DATA_FILES/auto-mpg.csv")
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [5]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [6]:
df['model year'].unique()

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], dtype=int64)

In [7]:
df.drop(columns = ['car name'], axis = 1, inplace = True)

In [8]:
df['origin'].unique()

array([1, 3, 2], dtype=int64)

In [9]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
dtype: object

In [10]:
df.horsepower.unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [11]:
df.horsepower.replace({'?':'Nan'}, inplace = True)

In [12]:
df.horsepower = df.horsepower.astype(float)

In [13]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model year        int64
origin            int64
dtype: object

In [14]:
df.horsepower = df.horsepower.fillna(np.mean(df.horsepower))

In [15]:
x = df.drop(columns = ['mpg'], axis = 1)
y = df.mpg

In [16]:
x = x.values
y = y.values

In [17]:
print(x)

[[  8.  307.  130.  ...  12.   70.    1. ]
 [  8.  350.  165.  ...  11.5  70.    1. ]
 [  8.  318.  150.  ...  11.   70.    1. ]
 ...
 [  4.  135.   84.  ...  11.6  82.    1. ]
 [  4.  120.   79.  ...  18.6  82.    1. ]
 [  4.  119.   82.  ...  19.4  82.    1. ]]

In [18]:
print(y)

[18.  15.  18.  16.  17.  15.  14.  14.  14.  15.  15.  14.  15.  14.
 24.  22.  18.  21.  27.  26.  25.  24.  25.  26.  21.  10.  10.  11.
  9.  27.  28.  25.  25.  19.  16.  17.  19.  18.  14.  14.  14.  14.
 12.  13.  13.  18.  22.  19.  18.  23.  28.  30.  30.  31.  35.  27.
 26.  24.  25.  23.  20.  21.  13.  14.  15.  14.  17.  11.  13.  12.
 13.  19.  15.  13.  13.  14.  18.  22.  21.  26.  22.  28.  23.  28.
 27.  13.  14.  13.  14.  15.  12.  13.  13.  14.  13.  12.  13.  18.
 16.  18.  18.  23.  26.  11.  12.  13.  12.  18.  20.  21.  22.  18.
 19.  21.  26.  15.  16.  29.  24.  20.  19.  15.  24.  20.  11.  20.
 21.  19.  15.  31.  26.  32.  25.  16.  16.  18.  16.  13.  14.  14.
 14.  29.  26.  26.  31.  32.  28.  24.  26.  24.  26.  31.  19.  18.
 15.  15.  16.  15.  16.  14.  17.  16.  15.  18.  21.  20.  13.  29.
 23.  20.  23.  24.  25.  24.  18.  29.  19.  23.  23.  22.  25.  33.
 28.  25.  25.  26.  27.  17.5 16.  15.5 14.5 22.  22.  24.  22.5 29.
 24.5 29.  33.  20.  18.  18.5 17.5 29.5 32.  28.  26.5 20.  13.  19.
 19.  16.5 16.5 13.  13.  13.  31.5 30.  36.  25.5 33.5 17.5 17.  15.5
 15.  17.5 20.5 19.  18.5 16.  15.5 15.5 16.  29.  24.5 26.  25.5 30.5
 33.5 30.  30.5 22.  21.5 21.5 43.1 36.1 32.8 39.4 36.1 19.9 19.4 20.2
 19.2 20.5 20.2 25.1 20.5 19.4 20.6 20.8 18.6 18.1 19.2 17.7 18.1 17.5
 30.  27.5 27.2 30.9 21.1 23.2 23.8 23.9 20.3 17.  21.6 16.2 31.5 29.5
 21.5 19.8 22.3 20.2 20.6 17.  17.6 16.5 18.2 16.9 15.5 19.2 18.5 31.9
 34.1 35.7 27.4 25.4 23.  27.2 23.9 34.2 34.5 31.8 37.3 28.4 28.8 26.8
 33.5 41.5 38.1 32.1 37.2 28.  26.4 24.3 19.1 34.3 29.8 31.3 37.  32.2
 46.6 27.9 40.8 44.3 43.4 36.4 30.  44.6 40.9 33.8 29.8 32.7 23.7 35.
 23.6 32.4 27.2 26.6 25.8 23.5 30.  39.1 39.  35.1 32.3 37.  37.7 34.1
 34.7 34.4 29.9 33.  34.5 33.7 32.4 32.9 31.6 28.1 30.7 25.4 24.2 22.4
 26.6 20.2 17.6 28.  27.  34.  31.  29.  27.  24.  23.  36.  37.  31.
 38.  36.  36.  36.  34.  38.  32.  38.  25.  38.  26.  22.  32.  36.
 27.  27.  44.  32.  28.  31. ]

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3, random_state = 0)

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
sc = StandardScaler()

In [23]:
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

# Building ANN

In [24]:
model = Sequential()

In [25]:
model.add(Dense(units = 64, activation = 'relu'))

In [26]:
model.add(Dense(units = 64, activation = 'relu'))

In [27]:
model.add(Dense(units = 1, activation = 'softmax'))

In [28]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

WARNING:tensorflow:From C:\Users\varun\anaconda3\envs\condaenv\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [29]:
early_stop = EarlyStopping(monitor='loss',patience=2)

In [30]:
model.fit(x_train, y_train, batch_size = 32, epochs = 100, callbacks = [early_stop])

WARNING:tensorflow:From C:\Users\varun\anaconda3\envs\condaenv\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
278/278 [==============================] - 0s 1ms/sample - loss: -356.5532 - acc: 0.0000e+00
Epoch 2/100
278/278 [==============================] - 0s 112us/sample - loss: -356.5532 - acc: 0.0000e+00
Epoch 3/100
278/278 [==============================] - 0s 80us/sample - loss: -356.5532 - acc: 0.0000e+00
Epoch 4/100
278/278 [==============================] - 0s 112us/sample - loss: -356.5532 - acc: 0.0000e+00

In [31]:
prediction = model.predict(x_test)

In [32]:
prediction = (prediction > 0.5)
print(np.concatenate((prediction.reshape(len(prediction),1), y_test.reshape(len(y_test),1)),1))

[[ 1.  14. ]
 [ 1.  25. ]
 [ 1.  13. ]
 [ 1.  21. ]
 [ 1.  18. ]
 [ 1.  35. ]
 [ 1.  34.1]
 [ 1.  20. ]
 [ 1.  15. ]
 [ 1.  23.5]
 [ 1.  40.9]
 [ 1.  37.2]
 [ 1.  18. ]
 [ 1.  23. ]
 [ 1.  15.5]
 [ 1.  35.7]
 [ 1.  31. ]
 [ 1.  27. ]
 [ 1.  18. ]
 [ 1.  37.3]
 [ 1.  15.5]
 [ 1.  23. ]
 [ 1.  24. ]
 [ 1.  18. ]
 [ 1.  34.5]
 [ 1.  25.4]
 [ 1.  36.1]
 [ 1.  34. ]
 [ 1.  30. ]
 [ 1.  16. ]
 [ 1.  18.6]
 [ 1.  37. ]
 [ 1.  15. ]
 [ 1.  33.5]
 [ 1.  22.4]
 [ 1.  24. ]
 [ 1.  19. ]
 [ 1.  16.9]
 [ 1.  31.9]
 [ 1.  12. ]
 [ 1.  14. ]
 [ 1.  15. ]
 [ 1.  27.4]
 [ 1.  23.7]
 [ 1.  32. ]
 [ 1.  24. ]
 [ 1.  22.5]
 [ 1.  16.5]
 [ 1.  21. ]
 [ 1.  26. ]
 [ 1.  41.5]
 [ 1.  29. ]
 [ 1.  15. ]
 [ 1.  30. ]
 [ 1.  15. ]
 [ 1.  10. ]
 [ 1.  18. ]
 [ 1.  20.2]
 [ 1.  36. ]
 [ 1.  17. ]
 [ 1.  18. ]
 [ 1.  26.5]
 [ 1.  18. ]
 [ 1.  22. ]
 [ 1.  12. ]
 [ 1.  14. ]
 [ 1.  15. ]
 [ 1.  18. ]
 [ 1.  23. ]
 [ 1.  14. ]
 [ 1.  32.3]
 [ 1.  13. ]
 [ 1.  25. ]
 [ 1.  20. ]
 [ 1.  24. ]
 [ 1.  30.9]
 [ 1.  26. ]
 [ 1.  32. ]
 [ 1.  24.5]
 [ 1.  11. ]
 [ 1.  15. ]
 [ 1.  27. ]
 [ 1.  34.3]
 [ 1.  26. ]
 [ 1.  31.6]
 [ 1.  33.8]
 [ 1.  29. ]
 [ 1.  18.1]
 [ 1.  27.2]
 [ 1.  38. ]
 [ 1.  26. ]
 [ 1.  14. ]
 [ 1.  22. ]
 [ 1.  31. ]
 [ 1.  36.4]
 [ 1.  17.6]
 [ 1.  17.7]
 [ 1.  28. ]
 [ 1.  20.8]
 [ 1.  14. ]
 [ 1.  20.2]
 [ 1.  32.8]
 [ 1.  22.3]
 [ 1.  28. ]
 [ 1.  37. ]
 [ 1.  27. ]
 [ 1.  23.2]
 [ 1.  13. ]
 [ 1.  15. ]
 [ 1.  22. ]
 [ 1.  24. ]
 [ 1.  29. ]
 [ 1.  13. ]
 [ 1.  31.8]
 [ 1.  23. ]
 [ 1.  25.5]
 [ 1.  29.9]
 [ 1.  13. ]
 [ 1.  17.5]
 [ 1.  46.6]]