In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("G:/Education/Machine Learning/ML_CSV_FILES/USArrests.csv")
df.head(2)

  Unnamed: 0  Murder  Assault  UrbanPop  Rape
0    Alabama    13.2      236        58  21.2
1     Alaska    10.0      263        48  44.5

In [3]:
df.index = df.iloc[:,0]
df.head()

            Unnamed: 0  Murder  Assault  UrbanPop  Rape
Unnamed: 0
Alabama        Alabama    13.2      236        58  21.2
Alaska          Alaska    10.0      263        48  44.5
Arizona        Arizona     8.1      294        80  31.0
Arkansas      Arkansas     8.8      190        50  19.5
California  California     9.0      276        91  40.6

In [4]:
df.drop(["Unnamed: 0"], axis = 1, inplace = True)

In [5]:
df.head(2)

            Murder  Assault  UrbanPop  Rape
Unnamed: 0
Alabama       13.2      236        58  21.2
Alaska        10.0      263        48  44.5

In [6]:
df.index.name = None # USING NONE WILL MAKE THE INDEX VALUE AS NULL #

In [7]:
df.head(5)

            Murder  Assault  UrbanPop  Rape
Alabama       13.2      236        58  21.2
Alaska        10.0      263        48  44.5
Arizona        8.1      294        80  31.0
Arkansas       8.8      190        50  19.5
California     9.0      276        91  40.6